*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#search_bar{
    width: 600px;
    padding-top: 60px;
}
#update{
    padding-top: 60px;
    position: relative;
    left: 0%;
    top:5%;
    position: fixed;
}
#table{
    max-height: 300px;
    overflow: auto;
}
#sticky{
    position: relative;
    left: 50%;
    position: fixed;

}